

.testing {
  display: flex;

  width: percentage(5/7);

  border-radius: 4px;
}

.black {
  background-color: #000;
}
.green {
  background-color: #fc1;
}


.border-radius {
  -webkit-border-radius: 12px;
     -moz-border-radius: 12px;
          border-radius: 12px;
}

@import
'testing',
'sprites',
'susy/sass/susy';

.github {
  @include sprite($github);
  @include retina-sprite($github-group);
}
// @include sprites($spritesheet-sprites);

.susy-test {
  @include span(2);
}
